<?xml version="1.0"?>
<launch>

<group ns="ccmslam">
  <!-- node that publishes transformed odomS0 from world each 100ms -->
  <node pkg="tf" type="static_transform_publisher" name="linkS0_broadcaster" args="0 0 5 -1.571 0 -2 world odomS0 100" />

  <!-- starts ServerNode -->
  <node pkg="ccmslam" type="ccmslamServerNode" name="ccmslamServerNode" args="$(find ccmslam)/conf/ORBvoc.txt" output="screen">
    <param name="NumOfClients" type="int" value="1" />
    <param name="FrameId0" type="string" value="odomS0" /> <!-- donde? -->
    <param name="~MapInTopicName0" type="string" value="MapOutClient0" /> <!-- donde? -->
  </node>

</group>

</launch>
